/*whole page formatting*/
.top {
    position:absolute;
    left:0; right:0;
}
.left {
    position:absolute;
    left:0; top:70px; bottom: 0;
    width: 220px;
    /*border-right: 1px solid #414141;*/
}
.main {
    position: absolute;
    left:220px; top:70px; right:0; bottom:0;
    background-color:white;
}

.left .linklist li{
    border-bottom: 1px solid #414141;
    font-size: 20px;
    padding: 15px;
    cursor:pointer;
}

.left .linklist li:hover{
    background-color:#dfdfdf;
}

/*div formatting*/
.row1 {
    border-top: 5px solid #DFA94F;
}

.row4{
    border:none;
}

#logo {
    margin-left:20px;
}

#dashboardMain {
    margin-left: 5%;
    margin-top: 2%;
    padding: 20px;
}